* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    background-color: #f2f3f5;
}


.layui-card-header {
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;
    /* Y轴剧中 */
    align-items: center;
    /* vertical-align: middle; */
    /* line-height: 42px; */
}

#addform,
#editform {
    padding-right: 20px;
}